@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  height: 41px;
  width: 201px;
}

.label .text-wrapper {
  color: #ffffff;
  font-family: "Lora-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  top: 0;
}
.img {
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
}
.twitter-x {
  height: 30px;
  position: relative;
  width: 35px;
}
.twitter-x .layer {
    background-color: white;
    
  height: 31px;
  left: 202px;
  position: absolute;
  top: 0px;
  width: 40px;
}
