@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  height: 41px;
  width: 201px;
}

.label .text-wrapper {
  color: #ffffff;
  font-family: "Lora-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  top: 0;
}
.img {
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
}
.twitter-x {
  height: 30px;
  position: relative;
  width: 35px;
}
.twitter-x .layer {
    background-color: white;
    
  height: 31px;
  left: 202px;
  position: absolute;
  top: 0px;
  width: 40px;
}

@media (max-width: 640px) {
  .mobile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .mobile-button {
    width: 100%;
    margin-top: 10px;
  }
  .mobile-button-90{
    width: 100%;
  }
  .mobile-half{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }

  .mobile-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* @media (min-width: 768px) {
  .flex.justify-end.items-start.absolute.top-9.left-96 {
    display: none;
  }
}
@media (max-width: 767px) {
  nav:not(.isOpen) {
    height: 0;
  }
}
@media (max-width: 767px) {
  nav.isOpen {
    height:auto;
  }
} */
